@use "../abstracts/variables" as *;

.track-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &__header-row {
    border-bottom: 1px solid $color-border;
  }

  &__header-cell {
    padding: 3px 0;
    color: $color-text-muted;
    font-size: 0.6875rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0.05em;

    &--index {
      width: 45px;
    }

    &:nth-child(2) {
      width: 43%;
    }

    &:nth-child(3) {
      width: 26%;
    }

    &:nth-child(4) {
      width: 17%;
    }

    &:nth-child(5) {
      width: 70px;
      text-align: center;
    }

    &:nth-child(6) {
      width: 67px;
      text-align: center;
    }

    &:nth-child(7) {
      width: 29px;
      text-align: center;
    }
  }

  &__row {
    cursor: pointer;
    border-bottom: 1px solid $color-border-light;
    transition: background $transition;

    &:hover {
      background-color: #fafafa;
    }

    &--playing {
      background-color: rgba(252, 109, 62, 0.03);

      .track-table__number,
      .track-table__track-name {
        color: $color-accent;
      }
    }
  }

  &__cell {
    padding: 19px 4px;
    font-size: 0.8125rem;
    vertical-align: middle;

    &--index {
      color: $color-text-secondary;
      text-align: center;
    }

    &--date {
      color: $color-text-muted;
      font-size: 0.75rem;
    }

    &--duration {
      color: $color-text-secondary;
      font-size: .875rem;
      font-variant-numeric: tabular-nums;
      text-align: left;
    }

    &--actions {
      text-align: center;
    }
  }

  &__number {
    color: $color-text-primary;
    font-size: 1.25rem;
    font-weight: 400;
    margin-right: 25px;
  }

  &__track {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__track-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
  }

  &__track-name,
  &__album,
  &__track-artist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__track-name {
    color: $color-text-primary;
    font-size: 0.8125rem;
    font-weight: 500;
  }

  &__track-artist {
    color: $color-text-muted;
    font-size: 0.75rem;
  }

  &__album {
    display: block;
    color: $color-text-primary;
    font-size: 0.8125rem;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background: none;
    border: none;
    border-radius: $radius-sm;
    cursor: pointer;
    transition: background $transition;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  &__like-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition:
      transform $transition,
      opacity $transition;
      margin: 12px 0px 0px 25px;

    &:hover {
      opacity: 0.7;
      transform: scale(1.15);
    }
  }
}
